@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.leftPaneContainer{
  height:51vw;
  color: white;
  padding:10px;
  font-family: 'Poppins', sans-serif;
  margin-left: 20px
}

.rightPaneContainer{
  padding: 20px;
  font-family: 'Poppins', sans-serif;

}

.header{
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
}

.tableContainer{
  margin-top: 20px;
}