@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.leftPaneContainer{
  height:51vw;
  color: white;
  padding:10px;
  font-family: 'Poppins', sans-serif;
  margin-left: 20px
}